<div class="columns">

  <div class="column is-four-fifths">
    <% @terms.each do |term| %>
      <h1><%= term.name %></h1>
      <br>
      <%= term.blurb %>
      <br>
      <%= term.explanation %>
      <br>
      <hr>
    <% end %>
  </div>

  <div class="column">
    <%= render "/sidebar" %>
  </div>

</div>
