<!-- level class VERTICALLY levels its elements -->
<nav class="level">
  <div class="level-item">
    <small>SIGN UP</small>
  </div>
  <div class="level-item">
    <small>SIGN IN</small>
  </div>
  <div class="level-item">
    <small>SIGN OUT</small>
  </div>
  <div class="level-item">

  </div>
</nav>
