<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        JOHN RYKKEN
      </h1>
      <h2 class="subtitle">
        Web Developer | Writer | Cinephile
      </h2>
    </div>
  </div>
</section>
<%= render "/strengths_section" %>
