@import 'bulma';
@import 'navbar';
@import 'footer';
@import 'homepage';
@import 'term_index';
@import 'synopsis';
@import 'variables';

@font-face {
  font-family: 'underwood';
  src: url('MyUnderwood.ttf');
}

@font-face {
  font-family: 'acherusgrotesque';
  src: url('acherusgrotesque.otf');
}

@font-face {
  font-family: 'novacento-light';
  src: url('novacento-light.otf');
}

@font-face {
  font-family: 'novacento-book';
  src: url('novacento-book.otf');
}

@font-face {
  font-family: 'novacento-normal';
  src: url('novacento-normal.otf');
}

* {
  // border: 1px solid black;
}

.button {
  border: none;
}

ul {
  list-style: none;
}
