@import 'bulma';
@import 'navbar';
@import 'footer';
@import 'homepage';
@import 'term_index';
@import 'synopsis';
@import 'variables';
@import 'skills';
@import 'crux-section';
@import 'code-and-writing';
@import 'crux-navbar';
@import 'term-detail';
@import 'authentication-sign-up';

@font-face {
  font-family: 'underwood';
  src: url('MyUnderwood.ttf');
}

@font-face {
  font-family: 'acherusgrotesque';
  src: url('acherusgrotesque.otf');
}

@font-face {
  font-family: 'novacento-light';
  src: url('novacento-light.otf');
}

@font-face {
  font-family: 'novacento-book';
  src: url('novacento-book.otf');
}

@font-face {
  font-family: 'novacento-normal';
  src: url('novacento-normal.otf');
}

@font-face {
  font-family: 'times';
  src: url('times_sans.ttf');
}

* {
  // border: 1px solid black;
}

.button {
  border: none;
}

#show-code {
  float: left;
  position: fixed;
  -webkit-transform: translateZ(0);
  margin-top: 25%;
  padding-left: 2%;
  color: white;
  font-family: $raleway;
}
