@import 'bulma';
@import 'navbar';
@import 'footer';

@font-face {
  font-family: '1942';
  src: url('1942.ttf') format('truetype');
}

@font-face {
  font-family: 'rough';
  src: url('rough-type.otf');
}

@font-face {
  font-family: 'linowrite';
  src: url('linowrite.ttf');
}

@font-face {
  font-family: 'underwood';
  src: url('MyUnderwood.ttf');
}

* {
  border: 1px solid black;
}

ul {
  list-style: none;
}
