@import "variables";

#code-and-writing {
  background-color: $gray;
  h1 {
    font-family: $novacento;
    font-size: 3.5em;
    color: #000;
  }
  .columns {
    text-align: center;
  }

  .memory {
    text-align: justify;
  }

  #bloodwood, #oddclock, #lune {
    height: 150px;
  }

  #under-512 {
    height: 150px;
  }

  .book-about {
    text-align: justify; 
  }
}
