@import 'variables';

.hero {
  background-image: url('/assets/graycarpet.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

#hero_title {
  font-family: 'novacento-book';
  font-size: 3em;
  color: white;
}

#hero_subtitle {
  font-family: 'novacento-book';
  color: $blue-green;
  font-size: 2em;
}

.hero-body {
  text-align: center;
}
