.hero {
  background-image: url('/assets/filmgrunge.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#hero_title {
  font-family: 'novacento-book';
  font-size: 3em;
  color: white;
}

#hero_subtitle {
  font-family: 'novacento-book';
  color: #3A341D;
  font-size: 2em;
}

.hero-body {
  text-align: center; 
}
