

.menu {
  border-left: 3px solid black;
  padding-left: 10px;
}

#dropdown-menu {
  display: none;
}

.navbar-brand, .navbar-menu, .button {
  background-color: black;
}

#logo {
  height: 40px;
  margin: 15px;
}

#johnrykken {
  font-family: 'novacento-normal';
  font-size-adjust: auto;
  a {
    color: white;
  }
}
