@import 'variables';

.menu {
  border-left: 3px solid black;
  padding-left: 10px;
}

#dropdown-menu {
  display: none;
}

.navbar-brand, .navbar-menu, .button {
  background-color: black;
}

#logo {
  height: 40px;
  margin: 15px;
}

#johnrykken {
  max-width: 250px;
  padding: 20px;
  margin-top: 5px;
  color: $gray;
  font-family: $novacento;
  font-size: 1.5em;
  font-weight: 200;
}

// drop shadow

.navbar {
  box-shadow: 0 8px 6px -6px black;
}
