@import 'variables';

#synopsis-section {
  background-color: $green;
  text-align: center;
}

#synopsis-container {

}

#sass {
  background-color: $green;
}

#about-me-paragraph {
  font-family: $easy-font; 
}
