@import 'variables';

#synopsis-section {
  background-color: $green;
}

.about-me {
  font-family: 'Raleway';
  margin: 10px;
}

#about-me-tile, #profile-picture-tile {
  padding: 25px;
  border-radius: 8px;
  background: rgba(200, 54, 54, 0);
  border: 0 !important;
  span {
    
  }
}

.box, .tile, .is-child, .is-8 {
  border: 0 !important;
}
