@import 'variables';

#synopsis-section {
  background-color: $green;
}

.about-me {
  font-family: 'Raleway';
  margin: 10px;
}

#about-me-tile, #profile-picture-tile {
  padding: 25px;
  border-radius: 0;
  background: rgba(200, 54, 54, 0);
}

div {
  border: none;
}
