// colors
$blue-green: #0E7474 !global;
$blue: #305485 !global;
$green: #C4C963 !global;
$gray: #D0C7C8 !global;

// font
$novacento: 'novacento-book' !global;
$easy-font: 'Calibri', sans-serif; 
$raleway: 'Raleway', sans-serif;
