<section class="section is-large" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1>CODE!</h1>
        <p></p>



      </div>
      <div class="column">
        <h1>WRITING</h1>



      </div>
    </div>

  

  </div>
</section>
