<section class="section is-medium" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <!-- CODE! section -->
      <div class="column">
        <h1>CODE!</h1>
        <img src="/assets/under-512" id="under-512">
      </div>
      <!-- Writing section -->
      <div class="column">
        <h1>WRITING</h1>
        <br>
        <p class="memory">The Max Mayhem books are four urban fantasy novels I started writing in 2006. Set in Portland, OR, they are a prequel followed by a trilogy. The prequel, <i>Lune</i> (2009), is under revision. <i>Bloodwood (2011)</i> is available on Goodreads and Amazon. <i>The Oddclock</i> (2016) is available for publication. The final book, <i>The Garden Dark</i>, is unfinished.</p>
        <hr>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/bloodwood" id="bloodwood">
            </div>
            <div class="tile is-child is-9 book-about level-item">
              A hunt for a missing girl leads Max and Lydia to an eerily empty town in the cold, northern mountains of Canada. When night falls, Bloodwood wakes, and it will take all of Max and Lydia's cunning to survive until sunrise.
            </div>
          </nav>
        </div>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/oddclock" id="oddclock">
            </div>
            <div class="tile is-child is-9 book-about">
              Cursed skateboarder Max Mayhem and his friend, Lydia, befriend Henry Bishop, who has a dark and secret history. When they learn that the professor has been tracking Henry's father through time, their worlds threaten to tear apart. <i>~ 594 pages. Manuscript available on request.</i>
            </div>
          </nav>
        </div>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/lune" id="lune">
            </div>
            <div class="tile is-child is-9 book-about">
              When Dr. Mayhem and the professor pass through the Moon Gate, they find Lune, a land of spice, desert caravans, and perpetual night. Its
            </div>
          </nav>
        </div>




      </div>
    </div>



  </div>
</section>
