<section class="section is-medium" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <!-- CODE! section -->
      <div class="column">
        <h1>CODE!</h1>
        <img src="/assets/under-512" id="under-512">
      </div>
      <!-- Writing section -->
      <div class="column">
        <h1>WRITING</h1>
        <br>
        <div class="box">
          <p class="memory">
            The Max Mayhem books are four urban fantasy novels I started writing in 2006. Set in Portland, OR, they are a prequel followed by a trilogy. The prequel, <i>Lune</i> (2009), is under revision. <i>Bloodwood (2011)</i> is available on <a href="https://www.goodreads.com/book/show/11949572-bloodwood">Goodreads</a> and <a href="https://www.amazon.com/Bloodwood-Chronicles-Mayhem-John-Rykken-ebook/dp/B07957SW13">Amazon</a>. <i>The Oddclock</i> (2016) is available for publication. The final book, <i>The Garden Dark</i>, is unfinished.
          </p>
        </div>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/bloodwood" id="bloodwood">
            </div>
            <div class="tile is-child is-9 book-about level-item">
              A hunt for a missing girl leads Max and Lydia to an eerily empty town in the cold, northern mountains of Canada. When night falls, Bloodwood wakes, and it will take all of Max and Lydia's cunning to survive until sunrise.
            </div>
          </nav>
        </div>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/oddclock" id="oddclock">
            </div>
            <div class="tile is-child is-9 book-about">
              Cursed skateboarder Max Mayhem and his friend, Lydia, befriend Henry Bishop, who has a dark and secret history. When they learn that the professor has been tracking Henry's father through time, their worlds threaten to tear apart. <i>~ 594 pages. Manuscript available on request.</i>
            </div>
          </nav>
        </div>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/lune" id="lune">
            </div>
            <div class="tile is-child is-9 book-about">
              Recklessly, Dr. Mayhem and the professor pass through the Moon Gate and discover Lune, land of perpetual night. Its people are trapped in a nightmare, in thrall to a dreaming Djinn. Dr. Mayhem and the professor must wake him, before they, too, give in to sleep.
            </div>
          </nav>
        </div>
      </div> <!-- writing column -->
    </div> <!-- columns -->
  </div>
</section>
