<section class="section is-large" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1>CODE!</h1>
        <p></p>



      </div>
      <div class="column">
        <h1>WRITING</h1>
        <p class="memory">It is a bright fall morning. The air is crisp; the leaves, red. I am downtown, breath fogging as I walk. I have just finished reading Aldous Huxley's <i>Brave New World</i> for a political philosophy class and I am exhilirated, thrilled. The story has moved me and I think to myself, how awesome would it be? To write something like that, something that moves people? And something clicks. A few years later, I write a manuscript.</p>
        <br>
        <p>It is godawful.</p>
        <br>
        <p class="memory">But I revise it, try again. I write another one, and another. My friends go to graduate school, get real jobs. For me, a slew of characters evolve. I come to love them. Writing becomes purpose. Many years pass, at the end of which I have three books called "The Max Mayhem Series."</p>
        <br>
        <p>One day I will return to them. For now, though, programming is enough.</p>
        <img src="/assets/bloodwood" id="bloodwood">

      </div>
    </div>



  </div>
</section>
