<section class="section is-large" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1>CODE!</h1>
        <p></p>



      </div>
      <div class="column">
        <h1>WRITING</h1>
        <p>A vivid memory comes to mind when I think about writing. It is a fall morning, bright, cold, and clear. The leaves are crisp and red. The buildings are tall. My coffee is hot and my breath fogs as I walk down the sidewalk. I have just left a political philosophy class and I am exhilerated, thrilled. In class I finished reading Aldous Huxley's <i>Brave New World</i> and partook of a rousing discussion. Now my head is filled with scenes from the book and my  and  I feel as if I am on t Now my mind is filled with the rousing class discussion I've just left  was rousing and I have only just finished   found, in the way that young people do, profound and moving.    </p>


      </div>
    </div>



  </div>
</section>
