<section class="section is-medium" id="code-and-writing">
  <div class="container">
    <div class="columns">
      <!-- CODE! section -->
      <div class="column">
        <h1>CODE!</h1>
        <img src="/assets/under-512" id="under-512">
      </div>
      <!-- Writing section -->
      <div class="column">
        <h1>WRITING</h1>
        <br>
        <p class="memory">The Max Mayhem books are four urban fantasy novels I started writing in 2006. Set in Portland, OR, they are a prequel followed by a trilogy. </p>
        <br>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/bloodwood" id="bloodwood">
            </div>
            <div class="tile is-child is-9 book-about level-item">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </nav>
        </div>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/oddclock" id="oddclock">
            </div>
            <div class="tile is-child is-9 book-about">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 684 x 1081
            </div>
          </nav>
        </div>
        <div class="tile is-ancestor">
          <nav class="level">
            <div class="tile is-child is-3">
              <img src="/assets/lune" id="lune">
            </div>
            <div class="tile is-child is-9 book-about">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 684 x 1081
            </div>
          </nav>
        </div>




      </div>
    </div>



  </div>
</section>
