<section class="section is-medium" id="crux-section">
  <div class="container" >
    <h1 class="title">c&#8194;r&#8194;u&#8194;x</h1>
    <h4 class="subtitle">
      noun | ˈkrəks , ˈkru̇ks \
    </h4>
    <p>1 : the essential point; 2 : the main or central feature</p><br>
    <div class="tile is-ancestor">
      <div class="tile is-child">
        <p>"Crux" is my tech blog. It takes up a few pages on this website. And it has a simple goal: <strong>Explain computer, internet, and programming terms as simply as possible.</strong></p>
        <br>
        <p>The idea for this came to me during code school. Looking through technical documentation, I often grew frustrated. I would seek answers to a questions like this: "What is the DOM?" And I would find "DOM", a term I did not understand, explained with reference to many other computer terms I also did not understand. So I went down many a rabbit hole, seeking understanding of one thing in order to understand another. Granted, that is the nature of tech and indeed any body of knowledge. Ideas build on each other. You need a foundation to understand what's going on. Still, after reading copious internet articles about "DOM", "The Stack", "CORS", and other things, it occurred to me that I could, possibly, having something to contribute to the vast ocean of knowledge that is computer science.   



      I  try to stick to a few rules.
        I avoid technical jargon wherever possible. I assume that the reader knows very little about tech. In fact, my approach when writing  </p>
      <small>TAKE ME TO <%= link_to "CRUX", terms_path %></small>
    </div>
  </div>
</section>
