<nav class="navbar" role="navigation" aria-label="main navigation" id="crux-nav">
  <!-- nav-menu fills all nav space after nav-brand -->
  <div class="navbar-menu">
    <!-- nav-end places elements on the right -->
    <div class="navbar-end">
      <% if !current_user %>
        <div class="navbar-item">
          <p>
            <%= link_to "login", new_user_session_path, :method => :get %>
          </p>
        </div>
        <div class="navbar-item">
          <p>
            <%= link_to "sign up", new_user_registration_path %>
          </p>
        </div>
      <% end %>
      <% if current_user %>
        <div class="navbar-item">
          <%= current_user.username %>
        </div>
        <div class="navbar-item">
          <%= link_to "signout", destroy_user_session_path, :method => :delete, id: "signout" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
