<section class="section is-medium" id="crux-section">
  <div class="container" >
    <h1 class="title">c&#8194;r&#8194;u&#8194;x</h1>
    <h4 class="subtitle">
      noun | ˈkrəks , ˈkru̇ks \
    </h4>
    <p>1 : the essential point; 2 : the main or central feature</p><br>
    <div class="tile is-ancestor">
      <div class="tile is-child">
        <p>"Crux" is my tech blog. It takes up a few pages on this website. And it has a simple goal: <strong>Explain computer, internet, and programming terms as simply as possible.</strong></p>
        <br>
        <p>The idea for this gelled during code school. Looking through programming documentation and technical web articles, I often grew frustrated. More often than not, one technical term would be explained using additional, equally incomprehensible tech terms. And that, of course, led to many a rabbit hole, seeking comprehension of one idea in order to understand another. Why, I wondered, was there no place where this stuff was written in plain English? (There are, in fact, many accessible, beautifully-written pieces about tech. But these web ghosts are not always easy to find.) Anyhow, I eventually realized that I could make a small contribution to the vast body of web knowledge out there. And that led to this.</p>
        <br>
        <p>I try to stick to a few rules.</p>
        <br>
        <ul>
          <li>Technical jargon is avoided where possible. However, the nature of tech and, indeed, any field of study is that ideas build on each other. I try my best to lay the appropriate foundations. If I do not, however, please let me know in the comments section!</li>
          <li>I assume the reader has little or no prior knowledge of the topic.</li>
          <li>I imagine I am writing to a class of eighth-graders. These imaginary kids are a computer-literate bunch, but aren't necessesarily familiar with, say, HTML or the differnece between Linux and iOSes.</li>
          <li>I keep George Orwell in mind. He advised, "Never use a long word where a short one will do." And, "If it is possible to cut a word out, always cut it out."
          </li>
        </ul>
        <br>
        <p>Thanks for reading this far. Click <%= link_to "here to visit crux", terms_path %></p>
      </div>
    </div>
  </div>
</section>
