<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-item">
        <%= link_to image_tag("/assets/github-icon.png"), "http://www.github.com", class: 'social-media-icon' %>
      </div>
      <div class="level-item">
        <%= link_to image_tag("/assets/linkedin-icon.png"), "http://www.linkedin.com", class: 'social-media-icon' %>
      </div>
      <div class="level-item">
        <%= link_to image_tag("/assets/instagram-icon.png"), "http://www.instagram.com", class: 'social-media-icon' %>
      </div>
      <div class="level-item">
        <%= link_to image_tag("/assets/gmail-icon.png"), "http://www.gmail.com", class: 'social-media-icon' %>
      </div>
    </nav>
    <br>
    <br>
    <small>Copyright &#169; 2018 John Rykken</small>
  </div>
</footer>
