<section class="section is-small">
  <div class="container" id="skills-container">
    <h1 id="skills-main-title">SKILLS</h1>
    <!-- skills section -->
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/legosketch">
          </figure>
          <hr>
          <p class="title" id="skills-title">technical</p>
          <div class="columns">
            <div class="column">
              <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
                <li>placeholder</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/softskill">
          </figure>
          <hr>
          <p class="title" id="skills-title">soft</p>
          <ul>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
          </ul>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <figure class="image is-4by4" id="skills-logo">
            <img id="skills-image" src="/assets/otherskills">
          </figure>
          <hr>
          <p class="title" id="skills-title">other</p>
          <ul>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
