<!-- strengths and skills  -->
<section class="section">
  <div class="container">
    <nav class="level">

      <div class="level-item">
        <div class="box">
          <h2>Transferable Skills</h2>
          <ul>
            <li>communication</li>
            <li>team player</li>
            <li>written communication</li>
            <li>verbal communication</li>
            <li>research</li>
            <li>analytical skills</li>
          </ul>
        </div>
      </div>

      <div class="level-item">
        <div class="box">
          <h2>Knowledge-based Skills</h2>
          <ul>
            <li>javascript</li>
            <li>ruby</li>
            <li>rails</li>
          </ul>
        </div>
      </div>


      <div class="level-item">
        <div class="box">
          <h2>Personal Skills</h2>
          <ul>
            <li>determination</li>
            <li>creativity</li>
            <li>analytical</li>
            <li>realistic</li>
            <li>interpersonal diplomacy</li>
            <li>articulate</li>
            <li>self-motivated</li>
          </ul>
        </div>
      </div>

    </nav>
  </div>

  <hr>

  <!-- hobbies -->
  <div class="container has-text-centered">
    <div class="box">
      <h2>Hobbies</h2>
      <li>running</li>
    </div>
  </div>

</section>
