
<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">
    <div class="tile is-parent">
      <div class="tile is-child box is-8" id="about-me-tile">
        <h4 class="title about-me">Thanks for stopping in.</h4>
        <p class="about-me">
          I'm a writer-turned-web-developer based in Portland, OR. I used to write urban fantasy novels. Now I build Ruby Rails and Javascript applications. When not coding, I take my dog for runs and watch too many films.
        </p>
      </div>
      <div class="tile is-child box" id="profile-picture-tile">
        <img src="/assets/profile_pic.jpg" alt="">
      </div>
    </div> <!-- parent tile -->
  </div> <!-- container -->
</section>
