
<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">
    <div class="tile is-parent">
      <div class="tile is-child box is-8" id="about-me">
        <h4 class="title">Welcome!</h4>
        <p>I am writer-turned-web-developer from Portland,</p>
      </div>
      <div class="tile is-child box" id="profile-picture">

      </div>
    </div>
  </div>
</section>
