
<section class="section is-medium" id="synopsis-section">
  <div class="container" id="synopsis-container">
    <div class="tile is-parent">
      <div class="tile is-child is-8" id="about-me-tile">
        <h4 class="title about-me"><span><i>Thank you</i></span> for stopping by.</h4>
        <p class="about-me">
          I'm a writer-turned-programmer from Portland, OR. * FINISH THIS * 
        </p>
      </div>
      <div class="tile is-child" id="profile-picture-tile">
        <img src="/assets/profile_pic.jpg">
      </div>
    </div> <!-- parent tile -->
  </div> <!-- container -->
</section>
